<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="4"/>
    </switches>
  </system.diagnostics>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CgwMonitorManageService">
          <reliableSession enabled="true" />
          <!--<security mode="None" />-->
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://127.0.0.1:5699/CgwMonitorManageService"
        binding="wsHttpBinding" bindingConfiguration="CgwMonitorManageService"
        contract="CgwMonitorManageServiceReference.IMonitorManageService"
        name="CgwMonitorManageService">
        <identity>
          <dns value="127.0.0.1" />
        </identity>
      </endpoint>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="CgwMonitorManageServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="CgwMonitorManageServiceBehavior">
          <serviceSecurityAudit auditLogLocation="Application"
             suppressAuditFailure="true"
             serviceAuthorizationAuditLevel="SuccessOrFailure"
             messageAuthenticationAuditLevel="SuccessOrFailure" />
          <serviceThrottling maxConcurrentCalls="8192" maxConcurrentSessions="8192" maxConcurrentInstances="8192" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="False" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>