# This is for UBP MQ configuration.


# Transport layer security : 1 for open, 0 for not. Default is 0.
TLS = 0

#Domain
DOMAIN = 3

#curve key pair
CLIENT_PUBLIC =1B7151255EB78139F2975A07A18DA1D018A7EA20F68027D4FEDE9D032E0A3550B1A35FD30DA6F081
CLIENT_SECRET =63034727609DAA0AC8D65512EA89E99E0818882024C0EFF43F5E1878316C54D1D03C72E8B631A49D
SERVER_PUBLIC =1A7445134894A654E7A13B18B2EBDCCA4977705A8A5B1E527F16E108F3FD0981384A2CFA450D731A

#login消息超时时间
LOGIN_TIMEOUT = 10

#服务端消息在队列中的等待时间,单位：秒
ASYN_RPN_WAIT_TIMEOUT = 120

#socket最大闲置时间（秒）,超过则会被关闭;0表示不关闭
MAX_IDLE_TIME = 0

#Socket TCP重连时间，单位：毫秒
RECONNECT_IVL = 2000

#最多socket数量（只在C++有效）
MAX_SOCKETS = 60000

#发布者和消费者心跳的时间，单位：秒
PUB_SUB_HEARTBEAT_INTERVAL = 60

#消费者心跳超时时间，单位：秒
SUBSCRIBE_TIMEOUT_TIMES = 180

#服务端在回调处理消息超时时间,单位：秒
REPONSE_HANDLE_MQ_TIMEOUT = 60

#服务端处理消息回调的任务个数
MSGCALLBACK_WORKER_COUNT = 1

#客户方发送消息默认超时时间，单位ms（只在Java版本有效）
DEFAULT_REQUEST_TIMEOUT = 5000

#客户方异步消息Socket poll时间周期（只在Java版本有效了）
SOCKET_POLL_WAIT_TIME = 300000

#默认超时时间（删除）
DEFAULT_REQUEST_NOTACTIVE_TIMEOUT = 300000

#客户方默认发送次数（同步消息超时后重发，只在java版本有效）
DEFAULT_REQUEST_RETRY_TIMES = 3

#是否支持2.1版本ZMQ接口
SUPPORT_VER21 = 1



