<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="NLogErr.log">
  <targets async="true">
    <!-- <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}/log.txt" layout="${utclongdate}|${level:uppercase=true}|${logger}|${event-context:item=mcuid}|${event-context:item=siteid}|${event-context:item=confid}|${message}|${exception:ToString}"/>
    <target xsi:type="FallbackGroup" name="db" returnToFirstOnSuccess="true">
      <target xsi:type="Database" name="database">
        <dbHost>200.54.11.213</dbHost>
        <dbDatabase>yxb</dbDatabase>
        <dbUserName>sa</dbUserName>
        <dbPassword>vp8000.com</dbPassword>
        <commandText>
          INSERT INTO DeviceNlog ([Date],[Thread],[Level],[Logger],[Message],[Exception],[UserId],[RequestSerial],[McuId],[SiteId],[ConfId],[SubConfId],[ConfGuid],[SiteGuid],[EndpointFrontId],[EndpointBackId],[GkRouteId],[PrivatZoneId],[ZoneRuleId],[NetworkAddrId],[OrgId],[BillCodeId],[DomainId],[DomainCodeId],[PermissionGroupId],[DeviceGuid],[ErrNo],[Model],[Param]) VALUES (@utclongdate, @thread, @log_level, @logger, @message, @exception,@UserId,@RequestSerial,@McuId,@SiteId,@ConfId,@SubConfId,@ConfGuid,@SiteGuid,@EndpointFrontId,@EndpointBackId,@GkRouteId,@PrivatZoneId,@ZoneRuleId,@NetworkAddrId,@OrgId,@BillCodeId,@DomainId,@DomainCodeId,@PermissionGroupId,@DeviceGuid,@ErrNo,@Model,@param)
        </commandText>
        <parameter name="@utclongdate" layout="${utclongdate:Format=yyyy-MM-dd HH\:mm\:ss.mmm}" />
        <parameter name="@thread" layout="${threadid}" />
        <parameter name="@log_level" layout="${level}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@exception" layout="${exception}" />
        <parameter name="@McuId" layout="${event-context:item=mcuid}" />
        <parameter name="@SiteId" layout="${event-context:item=siteid}" />
        <parameter name="@UserId" layout="${event-context:item=userid}" />
        <parameter name="@RequestSerial" layout="${event-context:item=requestid}" />
        <parameter name="@ConfId" layout="${event-context:item=confid}" />
        <parameter name="@SubConfId" layout="${event-context:item=SubConfId}" />
        <parameter name="@ConfGuid" layout="${event-context:item=confguid}" />
        <parameter name="@SiteGuid" layout="${event-context:item=siteguid}" />
        <parameter name="@EndpointFrontId" layout="${event-context:item=endpointfrontid}" />
        <parameter name="@EndpointBackId" layout="${event-context:item=endpointbackid}" />
        <parameter name="@GkRouteId" layout="${event-context:item=gkrouteid}" />
        <parameter name="@PrivatZoneId" layout="${event-context:item=privatezoneid}" />
        <parameter name="@ZoneRuleId" layout="${event-context:item=zoneruleid}" />
        <parameter name="@NetworkAddrId" layout="${event-context:item=networkaddrid}" />
        <parameter name="@OrgId" layout="${event-context:item=orgid}" />
        <parameter name="@BillCodeId" layout="${event-context:item=billcodeid}" />
        <parameter name="@DomainId" layout="${event-context:item=domainid}" />
        <parameter name="@DomainCodeId" layout="${event-context:item=domaincodeid}" />
        <parameter name="@PermissionGroupId" layout="${event-context:item=permissiongroupid}" />
        <parameter name="@DeviceGuid" layout="${event-context:item=deviceguid}" />
        <parameter name="@ErrNo" layout="${event-context:item=errno}" />
        <parameter name="@Model" layout="${event-context:item=model}" />
        <parameter name="@Param" layout="${event-context:item=param}" />
      </target>
      <target name="retryfile" xsi:type="File" fileName="${basedir}/logs/dbbackuplog.txt" layout="${utclongdate}|${level:uppercase=true}|${logger}|${event-context:item=errno}|${event-context:item=model}|${event-context:item=param}|${event-context:item=mcuid}|${event-context:item=siteid}|${event-context:item=confid}|${event-context:item=deviceguid}|${message}|${exception:ToString}"/>
    </target>-->
    <target name="TcpOutlet" xsi:type="NLogViewer" address="udp://127.0.0.1:7071"/>
    <target name="file" xsi:type="File"
		fileName="${basedir}/logs/Cgw/${shortdate}.log"
		layout="${longdate}  [${level}]  [ ${logger}]  ${event-context:item=siteLabel} ${event-context:item=cameraNo}  ${message}"
		archiveFileName="${basedir}/logs/Cgw/${shortdate}_{#}.log"
           	archiveNumbering="Sequence"
            archiveAboveSize="52428800"
            	maxArchiveFiles="90"
            	concurrentWrites="true"
           	keepFileOpen="false" />
    
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>

